# Using User Datasets to identify Elite users

In [1]:
import pandas as pd
df_chunk2 = pd.read_csv(r"C:\Users\DELL\OneDrive - McGill University\Warut\project 2\yelp_user.csv",chunksize = 1000000)
df2 = pd.concat(df_chunk2)

In [2]:
df21 = df2[['user_id','review_count','elite']]

In [3]:
df2.elite.unique()

array(['None', '2009', '2014, 2016, 2013, 2015, 2010, 2012, 2011', ...,
       '2011, 2012, 2016, 2014, 2017, 2013, 2015',
       '2009, 2012, 2010, 2008, 2013, 2011, 2014',
       '2008, 2012, 2013, 2010, 2011, 2009'], dtype=object)

In [4]:
df21.head(1)

                  user_id  review_count elite
0  JJ-aSuM4pCFPdkfoZ34q0Q            10  None

In [5]:
import numpy as np
df21['eliteness'] = np.where(df21['elite'] == 'None', 0,1)

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Importing Yelp Tip data to map the elite users back to Businesses

In [6]:
df3 = pd.read_csv(r'C:\Users\DELL\OneDrive - McGill University\Warut\project 2\yelp_tip.csv')

In [7]:
df3 = df3[['business_id','user_id']]

In [8]:
df3.head(1)

              business_id                 user_id
0  jH19V2I9fIslnNhDzPmdkA  ZcLKXikTHYOnYt5VYRO5sg

Merging the two files based on User IDs

In [9]:
df4 = pd.merge(df3,df21,on = 'user_id')

In [10]:
df4.head(4)

,business_id,user_id,review_count,elite,eliteness
0,jH19V2I9fIslnNhDzPmdkA,ZcLKXikTHYOnYt5VYRO5sg,1,None,0
1,dAa0hB2yrnHzVmsCkN4YvQ,oaYhjqBbh18ZhU0bpyzSuw,17,None,0
2,dAa0hB2yrnHzVmsCkN4YvQ,ulQ8Nyj7jCUR8M83SUMoRQ,94,"2016, 2017",1
3,ESzO3Av0b1_TzKOiqzbQYQ,ulQ8Nyj7jCUR8M83SUMoRQ,94,"2016, 2017",1

In [11]:
df4 = df4[['business_id','user_id','eliteness']]

In [12]:
df4.head(4)

              business_id                 user_id  eliteness
0  jH19V2I9fIslnNhDzPmdkA  ZcLKXikTHYOnYt5VYRO5sg          0
1  dAa0hB2yrnHzVmsCkN4YvQ  oaYhjqBbh18ZhU0bpyzSuw          0
2  dAa0hB2yrnHzVmsCkN4YvQ  ulQ8Nyj7jCUR8M83SUMoRQ          1
3  ESzO3Av0b1_TzKOiqzbQYQ  ulQ8Nyj7jCUR8M83SUMoRQ          1

Applying Basic Pivots to get metrics

In [13]:
df41 = df4.groupby('business_id').sum().eliteness

In [14]:
df42 = df4.groupby('business_id').count().user_id

In [16]:
df42.head(2)

business_id
--6MefnULPED_I942VcFNA    13
--7zmmkVg-IMGaXbuVd0SQ    11
Name: user_id, dtype: int64

In [17]:
df5 = pd.merge(df41,df42,on = 'business_id')

In [18]:
df5.head(5)

                        eliteness  user_id
business_id
--6MefnULPED_I942VcFNA         12       13
--7zmmkVg-IMGaXbuVd0SQ          5       11
--9QQLMTbFzLJ_oT-ON3Xw          0        2
--9e1ONYQuAa-CB_Rrw7Tw         44      146
--DaPTJW3-tB1vP-PfdTEg          0        3

In [43]:
df5.to_csv('elite_segment.csv')